@model IEnumerable<ProjectEng.Models.Task>
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .col-md-7 {
        width: 28%;
    }

    .modal-header, h4, .close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-body {
        background-color: white;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>

<h2>List Task</h2>
<a href="#" id="btnexport2" class="btn btn-danger">PDF</a>
<br /><br />
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Project</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completion Date</th>
        <th>Current State</th>
        <th></th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.Description</td>
            <td>@if(item.DueDate != null){@item.DueDate.Value.ToShortDateString();}</td>
            <td>@if (item.CompletedDate != null) { @item.CompletedDate.Value.ToShortDateString(); }</td>
            <td>@item.CurrentState</td>
            <td>@Html.ActionLink("Edit Task", "Edit", "Task", new { id = item.ID, PMStaff = ViewBag.PMStaff }, new { @class = "btn btn-default" })</td>
        </tr>
    }
</table>


<!--modal Pdf-->
<div class="modal fade" id="modalpdf" role="dialog">
    <div class="modal-dialog">
        <!--Modal Content-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            <h4><span class="glyphicon glyphicon-paperclip">Put the page Number</span></h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <!--<label for="staffname"><span class="glyphicon glyphicon-user"></span> Enter number page:</label>-->
                <!--<input type="text" class="form-control" id="numberpage" placeholder="Enter Number page">-->
            </div>
            <button type="button" id="buttonSave" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Print PDF</button>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnexport2").click(function () {
                $("#modalpdf").modal("show");
            });

            $("#buttonSave").click(function () {
                var numberpage = $("#numberpage").val();
                var id = @ViewContext.RouteData.Values["id"];
                
                var page = '../TaskToPdf?page=' + numberpage+' &&id='+id;
                window.location.href = page;
                //window.location = '/Reports/ExportInventory';
                $("#modalpdf").modal("hide");
            });
        });
    </script>
}