@model ProjectEng.Models.Staff
<br /><br /><br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.StaffName, "Staff Name:", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.StaffName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StaffName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StaffPosition, "Staff Position:", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       @Html.TextBoxFor(model => model.StaffPosition, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StaffPosition, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" value="Save" class="btn btn-default" />

            </div><!--end row-->
        </div>
    </div>
}
