@model ProjectEng.Models.Project
@{
    ViewBag.Title = "Create Project";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProjectID)    
    <br />
    <div class="row">
        <div class="form-horizontal">
            <fieldset>
                <legend>Information Project</legend>
                <div class="col-md-6">
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.ProjectID, "Project#:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ProjectID, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ref, "Ref:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Ref, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Ref, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.CustomerId, "Customer:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CustomerId", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "Desc:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Comments, "Comment:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Comments, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, "Status:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DueDate, "Due Date:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LaunchDate, "Lauch D:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.LaunchDate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LaunchDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div><!--end row-->
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStaffs.CMStaff, "CMS:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CMStaff", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStaffs.CMStaff, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStaffs.PMStaff, "PMS:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PMStaff", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStaffs.PMStaff, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStaffs.PDEStaff, "PDE:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PDEStaff", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStaffs.PDEStaff, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStaffs.SEStaff, "SES:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("SEStaff", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStaffs.SEStaff, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStaffs.QEStaff, "QE:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("QEStaff", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStaffs.QEStaff, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStaffs.DRStaff, "DR:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("DRStaff", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStaffs.DRStaff, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div><!--End row-->
}

@section css{
    @Styles.Render("~/Content/themes/base/all.css")
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")


    <script type="text/javascript">
        $(function () {
            $("#DueDate").datepicker({ dateFormat: 'mm/dd/yy' });
            $("#LaunchDate").datepicker({ dateFormat: 'mm/dd/yy' });
        });
    </script>
}